.navbar-expand-lg {
    direction: rtl;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 23px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
}


ul {
    //height: 50px;
    padding-left: 0px;
}

nav {
    background-color: #5b874e;
}