<html lang="">

<head>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<div class="space1"> </div>

<body>


    <div class="shadow">


        <!-- Start of Search Wrapper -->
        <div class="search-area-wrapper">
            <div class="search-area text-center">
                <h2 class="text-primary1">ابحث في عناوين الكتاب</h2>
            </div>
            <div class="search-control1" id="more-topic">
                <input type="hidden" name="_token" id="csrf" value="GcXaDglAOeXSDeRi3QMV8G6LhRgedHNdqCs70JCI">
                <input type="text" name="saerch-topic" id="title-filter" class="form-control"
                    placeholder="البحث فى عنواين الكتاب">
            </div>

        </div>
        <!-- End of Search Wrapper -->


        <div class="single-book">

            <div class="booksinfo ">
                <ol class="breadcrumb1">
                    <li><a href="book-detail" class="white-color"> الرئيسية/</a>

                        <a class="white-color" href="book-detail">مسند الربيع بن حبيب</a>
                    </li>
                </ol>

                <h3 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a class="info-book"
                            href=" book-detail">مسند الربيع بن حبيب</a></span></h3>
                <h4>أسم المؤلف : <span class="text-info"> <a class="info-book" href=" book-detail">الربيع بن
                            حبيب</a></span></h4>
                <input type="hidden" name="bookid" id="bookid" value="1">

                <div class="text-center uk-margin-top">
                    <a href=" display-content" class="btn btn-default btn-read book-comm"> تابع القراءة</a>
                    <a href=" display-content" class="btn btn-primary btn-ms book-comm"> أقرأ الكتاب</a>
                    <a href="comments" class="btn btn-primary btn-ms book-comm"> أضف تعليق</a>
                </div>

            </div>
            <hr>
            <div class="book-contain">
                <div class="text-center">
                    <h2 class="text-info1">محتويات الكتاب</h2>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في النية</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="3" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true"
                                aria-controls="collapse3">

                            </a>

                        </div>
                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading5">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في ابتداء الوحي</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="5" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true"
                                aria-controls="collapse5">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading7">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في ذكر القران</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="7" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true"
                                aria-controls="collapse7">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading9">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في العلم وطلبه وفضله</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="9" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true"
                                aria-controls="collapse9">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading11">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في طلب العلم لغير الله عز وجل وعلماء السوء</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="11" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true"
                                aria-controls="collapse11">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse11" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading11">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading13">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في الامة امة محمد صلى الله عليه وسلم</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="13" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="true"
                                aria-controls="collapse13">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse13" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading13">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading15">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في الولاية والامارة</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="15" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="true"
                                aria-controls="collapse15">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse15" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading15">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading17">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في الرؤيا</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="17" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="true"
                                aria-controls="collapse17">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse17" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading17">

                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading" role="tab" id="heading19">
                            <h4 class="panel-title padding-title uk-margin-large-right">
                                <a href="display-content">باب في الايمان والاسلام والشرائع</a>
                            </h4>
                            <a class="pull-left icon-child white-color" id="subtitle" data-id="19" role="button"
                                data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="true"
                                aria-controls="collapse19">
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                            </a>

                        </div>
                        <div id="collapse19" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="heading19">

                        </div>
                    </div>
                </div>


                <div class="loadmore text-center uk-margin-bottom">
                    <button class="baksar btn-more next" id="loadtopic" data-id="12">أكثر</button>
                </div>

            </div>
        </div>



    </div>




    <!--end of content container-->







</body>

</html>