<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class="space1"> </div>

<body>

    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area text-center">
            <h2 class="text-primary1">ابحث في عناوين الكتاب</h2>
        </div>
        <div class="search-control1" id="more-topic">
            <input type="hidden" name="_token" id="csrf" value="GcXaDglAOeXSDeRi3QMV8G6LhRgedHNdqCs70JCI">
            <input type="text" name="saerch-topic" id="title-filter" class="form-control"
                placeholder="البحث فى عنواين الكتاب">
        </div>

    </div>
    <!-- End of Search Wrapper -->


    <div class="single-book">

        <div class="booksinfo ">
            <ol class="breadcrumb1">
                <li><a href="book-detail" class="white-color1"> الرئيسية/</a>

                    <a class="white-color" href="book-detail">مسند الربيع بن حبيب</a>
                </li>
            </ol>

            <h3 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a class="info-book"
                        href=" book-detail">مسند الربيع بن حبيب</a></span></h3>
            <h4>أسم المؤلف : <span class="text-info"> <a class="info-book" href=" book-detail">الربيع بن حبيب</a></span>
            </h4>
            <input type="hidden" name="bookid" id="bookid" value="1">

            <div class="text-center uk-margin-top">
                <a href=" display-content" class="btn btn-default btn-read book-comm"> تابع القراءة</a>
                <a href=" display-content" class="btn btn-primary btn-ms book-comm"> أقرأ الكتاب</a>
                <a href="comments" class="btn btn-primary btn-ms book-comm"> أضف تعليق</a>
            </div>

        </div>
        <hr>
        <div class="book-contain">
            <div class="text-center">
                <h2 class="text-info1">محتويات الكتاب</h2>
            </div>


            <div class="break"> </div>

            <div class="accordion-item">
                <h2 class=" accordion-button" id="ch1">
                    <i class=" fa fa-eercast collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseChap1"
                        aria-expanded="false" aria-controls="flush-collapseChap1">
                        &nbsp;
                    </i>
                    <a class="a2" href="display-content">باب في النية</a>
                </h2>

                <div id="flush-collapseChap1" class="accordion-collapse collapse" aria-labelledby="flush-headingChap1"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>

                                    <a class="a3" href="display-content">
                                        <tr> 1-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 2-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 3-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 4-الأسم</tr>
                                    </a>


                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class=" accordion-button" id="ch1">
                    <i class=" fa fa-eercast collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseChap2"
                        aria-expanded="false" aria-controls="flush-collapseChap2">
                        &nbsp;
                    </i>
                    <a class="a2" href="display-content">باب في النية</a>
                </h2>

                <div id="flush-collapseChap2" class="accordion-collapse collapse" aria-labelledby="flush-headingChap2"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>

                                    <a class="a3" href="display-content">
                                        <tr> 1-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 2-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 3-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 4-الأسم</tr>
                                    </a>


                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class=" accordion-button" id="ch1">
                    <i class=" fa fa-eercast collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseChap3"
                        aria-expanded="false" aria-controls="flush-collapseChap3">
                        &nbsp;
                    </i>
                    <a class="a2" href="display-content">باب في النية</a>
                </h2>

                <div id="flush-collapseChap3" class="accordion-collapse collapse" aria-labelledby="flush-headingChap3"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>

                                    <a class="a3" href="display-content">
                                        <tr> 1-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 2-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 3-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 4-الأسم</tr>
                                    </a>


                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class=" accordion-button" id="ch1">
                    <i class=" fa fa-eercast collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseChap4"
                        aria-expanded="false" aria-controls="flush-collapseChap4">
                        &nbsp;
                    </i>
                    <a class="a2" href="display-content">باب في النية</a>
                </h2>

                <div id="flush-collapseChap4" class="accordion-collapse collapse" aria-labelledby="flush-headingChap4"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>

                                    <a class="a3" href="display-content">
                                        <tr> 1-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 2-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 3-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 4-الأسم</tr>
                                    </a>


                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class=" accordion-button" id="ch1">
                    <i class=" fa fa-eercast collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseChap5"
                        aria-expanded="false" aria-controls="flush-collapseChap5">
                        &nbsp;
                    </i>
                    <a class="a2" href="display-content">باب في النية</a>
                </h2>

                <div id="flush-collapseChap5" class="accordion-collapse collapse" aria-labelledby="flush-headingChap5"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>

                                    <a class="a3" href="display-content">
                                        <tr> 1-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 2-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 3-الأسم</tr>
                                    </a>

                                    <div class="break"> </div>

                                    <a class="a3" href="display-content">
                                        <tr> 4-الأسم</tr>
                                    </a>


                                </tbody>

                            </table>


                        </div>

                    </div>
                </div>
            </div>




            <div class="loadmore text-center uk-margin-bottom">
                <button class="baksar btn-more next" id="loadtopic" data-id="12">أكثر</button>
            </div>

        </div>
    </div>

    <!--end of content container-->


</body>

</html>