.search-area-wrapper {
    padding: 10px;
    background: #5B874E;
   // background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
   // background: linear-gradient(to left, #43cea2 , #185a9d);
}
.form-control{
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-info1{
    color: #5B874E;
}
.text-primary1 {
    color: #fff;
    font-weight: bold;
}
h2, .h2 {
    font-size: 34px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
h1, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    text-align: right;
    font-size: 20px;
   
}
.search-control1 {
    padding: 20px 50px;
   //float: right;
  // text-align: right;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
        
}

////end of search area ---->start of single book

.single-book {
    background: #fff;
    padding: 15px;
}
.breadcrumb1 {
    padding: 8px 15px;
    margin-bottom: 22px;
    list-style: none;
    background-color:#5B874E;
    border-radius: 1px;
    text-align: right;
    
}
ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
    text-align: right;
}
.white-color {
    color: #fff;
    text-align: right;
   
}

.white-color1 {
    color: #fff;
    text-align: right;
   margin-right: 3.5em;
}
a {
    color: #333;
    text-decoration: none;
  
}
.info-book{
    color: #5B874E;
}
a {
    background-color: transparent;
    text-align: right;
    font-size: 18px;
}
.breadcrumb>li {
    display: inline-block;
  
}
.uk-margin-top {
    margin-top: 15px !important;
}
.text-info {
    color: #fff;
}
.btn-read {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    border-color: #333;
    border-width: 2px;
    margin-left: 2px;
}
.btn-ms {
    font-size: 20px;
}
.btn-primary {
    color: #fff;
    background-color:#5B874E;
    border-color: #5B874E;
    margin-left: 3px;
}
hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    box-sizing: content-box;
    height: 0;
}
.panel-group {
    margin-bottom: 22px;
}
.uk-margin-bottom {
    margin-bottom: 15px !important;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-info {
    border-color: #2f7067;
}
.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-info>.panel-heading {
    color: #fff;
    background-color:#5B874E;
    border-color: #5B874E;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.btn-more {
    width: 100%;
    height: 52px;
    font-size: 25px;
    color: #5B874E;
    background-color: #fff;
    border-color: #5B874E;
    border-style: solid;
    border-width: 5px;
    margin-top: 2em;
  }


.white-color:hover {
    color: #fff;
}

.pull-left {
    float: left;
}
.white-color {
    color: #fff;
}
.icon-child {
    margin-top: -20px;
    font-size: 20px;
}
.pull-left {
    float: right!important;
}
.pull-left {
    float: left !important;
}
[role="button"] {
    cursor: pointer;
}
a {
    
    text-decoration: none;
}

a {
    background-color: transparent;
    color: #fff;
}

.padding-title {
    padding-left: 20px;
}
.uk-margin-large-right {
    margin-right: 50px !important;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}


.fa::before{
    float: right;
    padding-right: 10px;
    font-family: "FontAwesome"
  }


  ///new dropdown
.a2{
    color: #fff;
}
  .break {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  
  .accordion-button {
    background-color: #5B874E;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-color: #5B874E;
    height: 40px;
  }
  
  .panel-body {
    padding: 15px;
  }
  
  .text1 {
    color: #5B874E;
  }
  

  

  .heading {
    font-weight: bold;
    font-size: 20px;
    color: #333;
  }
  
  .value1 {
    font-size: 18px;
    color: #333;
  }
  
  li {
    display: list-item;
    margin-right: -4em;
  }
  
  .accordion-button{
 direction: rtl;
  }
  .table{
      direction: rtl;
     
  }

///accordian
.accordion-button{
    color: #fff;
    background-color: #5B874E;
   
}


.accordion-item{
margin-bottom: -1.4em;
}


.a3{
    color: #333;
    width: 100%;
}
