<div class="space1"> </div>

<body>
    <div class="shadow">

        <div class="search-area-wrapper">
            <div class="search-area text-center">
                <h2 class="tp"> ابحث في الكتب </h2>
            </div>
            <div class="search-control" id="more-topic">
                <input type="hidden" name="_token" id="csrf" value="KjfMS8n6cb20MQ1cOJWzfIeximoNknaCsakW0NO3">
                <input type="text" name="saerch-topic" id="author-filter" class="form-control"
                    placeholder="البحث فى الكتب">
            </div>

        </div>

        <div class="books">

            <div id="books" class="row uk-margin-top">
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="مسند الربيع بن حبيب"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">مسند الربيع بن حبيب</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">الربيع بن
                                            حبيب</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="تفسير مجاهد"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">تفسير مجاهد</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">مجاهد بن
                                            جبر</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="مسند زيد"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">مسند زيد</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">زيد بن علي بن
                                            الحسين</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب"
                                        title="مسانيد فراس المكتب رواية أبي نعيم"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">مسانيد فراس المكتب رواية أبي نعيم</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">أبو نعيم
                                            الأصبهاني</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="حديث أيوب السختياني"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">حديث أيوب السختياني</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">أيوب
                                            السختياني</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="صحيفة همام بن منبه"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">صحيفة همام بن منبه</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">همام بن
                                            منبه</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب"
                                        title="مسند أبي حنيفة رواية أبي نعيم"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">مسند أبي حنيفة رواية أبي نعيم</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">أبو حنيفة</a></span>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="جزء ابن جريج"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">جزء ابن جريج</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">عبد الملك بن
                                            جريج</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 xs-device uk-margin-bottom">
                    <div class="book-ui">

                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-5">
                                <a href="display-content"><img src="assets/img/book-cover.png"
                                        class="img-responsive img-book" alt="كتاب" title="الجامع لمعمر بن راشد"></a>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-7 uk-margin-top margin-right-mins">
                                <h5 class="uk-margin-top">أسم الكتاب : <span class="text-info"> <a
                                            href="book-detail ">الجامع لمعمر بن راشد</a></span></h5>
                                <h5>أسم المؤلف : <span class="text-info"> <a href="author-detail">معمر بن راشد
                                            الأزدي</a></span></h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="loadmore text-center uk-margin-bottom">
                <button class="baksar btn-more next" id="loadtopic" data-id="12">أكثر</button>
            </div>
        </div>
        <!-- end of categories-->
    </div>
</body>